[user]
    # TODO: Set via environment or devcontainer.json
    # name = 
    # email = 

[core]
    pager = delta
    editor = micro
    autocrlf = input

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
    syntax-theme = Dracula

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[init]
    defaultBranch = main

[pull]
    rebase = true
